{
  "root": true,
  "ignorePatterns": ["dist", "coverage", "node_modules", "reports", "**/*.typegen.ts"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
